/* HEADER */
header { 
    height: 120px; 
    background: #fff; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 50px; 
    border: none; 
    z-index: 100;
}

.h-left {
    display: flex;
    align-items: center;
    gap: 80px; /* Отступ между блоком логотипа и всем навигационным меню */
}

/* Центровка часов под логотипом */
.logo-center-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    min-width: 160px;
}

.main-logo-img {
    height: 52px; 
    width: auto;
    margin-bottom: 4px;
}

#clock { 
    font-family: 'Courier New', monospace; 
    font-size: 13px; 
    font-weight: 800; 
    color: #0099d5; 
    letter-spacing: 1px;
}

/* НАВИГАЦИЯ: Увеличенный отступ между пунктами */
.nav-gap {
    display: flex;
    gap: 60px; /* Тот самый увеличенный отступ между Реестром и Продажей */
}

.top-nav a { 
    color: #1a202c; 
    font-size: 12px; 
    font-weight: 800; 
    cursor: pointer; 
    white-space: nowrap; /* Чтобы текст не переносился */
}

.top-nav a:hover { 
    color: #0099d5; 
}

/* FOOTER - Оставляем широким (140px) */
footer { 
    height: 140px; 
    background: #01040a; 
    border-top: 1px solid #1e293b; 
    display: flex; 
    align-items: center; 
    padding: 0 50px; 
}
